.styleTitlesBold{
    font-weight: bold;
}

.resizeTextarea{
    resize: none;
}

.centeredDiv{
    background-color:lightblue;
    width: 56vw;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.notValid{
    color: red;
}